.Music {
  text-align: center;
  .page-container {
    display: flex;
    flex-direction: column;

    @media (max-width: 600px) {
      flex-direction: column-reverse;
    }

    .music-header {
      
    }

    .live-pic {
      margin: 20px auto;
      max-width: 450px;

      @media (max-width: 600px) {
        max-width: 80%;
      }
    }

    .band-list {
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;

      .band-container {
        margin: 0 10px 10px 0;
        max-width: 230px;
        background-color: rgb(238, 238, 238);
        border-radius: 4px;
        padding: 10px;

        @media (max-width: 600px) {
          margin-right: 0;
          max-width: 80%;
        }

        .band-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          min-height: 80px;
          margin: 0 0 5px 0;
          border-bottom: solid rgb(207, 207, 207) 1px;

          .band-name {
            max-width: 180px;
          }

          .spotify-container {
            width: 30px;
        
            .spotify-link {
              &:hover {
                transform: scale(1.2)
              }
            }
          }
        }
      }
    }
  }
}
